@import '../variables/_color';
@import '../modules/_keyword-tag';
@import '../mixins/_media';
@import '../variables/_block_height';

.content-filter-bar {
  position: fixed;
  top: $header-block-height;
  width: calc(100% - 240px);
  @include media(col_4) {
    width: calc(100% - 72px);
  }
  overflow-x: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0 24px;
  border-top: 1px solid $--yt-spec-10-percent-layer;
  border-bottom: 1px solid $--yt-spec-10-percent-layer;
  background-color: #fff;

  &__list {
    display: flex;
    height: $fillterbar-block-height;
  }

  &__item {
    margin: 12px;
    margin-left: 0;
  }

  .keyword-tag {
    @include keyword-tag;
  }
}
