@import './reset';
@import './layouts/_header';
@import './layouts/_nav';
@import './layouts/_fillter-bar';
@import './layouts/_contents';
@import './mixins/_media';

.ytb-content {
  main {
    width: 100%;
    padding-left: 240px;
    @include media(col_4) {
      padding-left: 72px;
    }
    @include media(col_2) {
      padding-left: 0;
    }
  }
}
