@import './reset';
@import './layouts/_header';
@import './layouts/_nav';
@import './layouts/_fillter-bar';
@import './layouts/_contents';

.ytb-content {
  main {
    width: 100%;
    padding-left: 240px;
    @include media(col_4) {
      padding-left: 72px;
    }
  }
}
