@import '../mixins/_typo';

.articles-box {
  display: flex;
  a {
    display: block;
  }
  .article {
    width: 32%;
    margin-right: 2%;
    &:nth-child(3) {
      margin-right: 0;
    }
    @include media(sm) {
      width: 49%;
      &:nth-child(3) {
        display: none;
      }
    }

    @include article-title;
    &__thumbnail {
      height: 256px;
      margin-bottom: 25px;
      overflow: hidden;
      img {
        width: 100%;
      }
      &:hover img {
        transform: scale(1.1);
        transition: all ease-out 0.1s;
      }
    }
    &__title {
      @include article-title;
      margin-bottom: 4px;
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__date {
      @include article-date;
    }
  }
}
