@import '../mixins/_typo';
@import '../layouts/_article-guide';
@import '../layouts/_article';

main > section {
  h3 {
    margin-bottom: 15px;
    @include section-title;
  }
}

.articles {
  padding: 25px;
}

.articles--new {
  background-color: #f8f8f8;
}
