@import '../mixins/_typo';
@import '../variables/_color';
@import '../mixins/_media';

.content-item {
  width: 24%;
  margin: 0 0.5% 40px 0.5%;
  border-radius: 4px;
  @include media(col_3) {
    width: 32.3%;
  }
  @include media(col_2) {
    width: 49%;
  }
  @include media(col_1) {
    width: 72%;
    margin: 0 auto 40px;
  }

  a {
    display: block;
  }
  span {
    display: inline-block;
  }

  &__thumbnail img {
    width: 100%;
  }
  &__details {
    width: 100%;
    display: flex;
    padding-right: 24px;
    margin-top: 12px;
  }
  &__channel-img {
    margin-right: 12px;
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
  &__title {
    height: 40px;
    margin-bottom: 6px;
    @include content-title;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &__info {
    @include content-text;
  }
  &__view_count:after {
    content: '•';
    margin: 0 4px;
  }
  &__upload_time {
    margin-left: -5px;
  }

  &:active {
    background-color: $--yt-spec-10-percent-layer;
  }
}
